<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chew-chew-SwiftUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D6734AE2A96334B00CBE9C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D6734BE2A96334C00CBE9C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D6734C82A96334D00CBE9C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
